@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Lemon&family=Rubik&display=swap');

body {
    font-family: 'Lemon', serif;
    background-color: rgb(114, 141, 155);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    flex-shrink: 0;
}

.logo {
    display: block;
    margin: auto;
    width: 900px;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgb(107, 107, 107);
}

.logo:hover,
.band:hover{
    box-shadow: 5px 5px 10px rgb(7, 6, 6);
}

.band {
    display: block;
    margin: auto;
    width: 65%;
    margin-bottom: 20px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgb(107, 107, 107);
}

.pic{
    padding-bottom: 25px;
}

.members:hover {
    color: rgb(211, 210, 210);
}